<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Home - Productos</title>
</head>
<body>
<h1>Lista de productos</h1>

<ul>
    {{#each products}}
        <li>{{this.title}} - ${{this.price}}</li>
    {{/each}}
</ul>

<br>

<a href="/realtimeproducts">Ir a Productos en Tiempo Real</a>
</body>
</html>
